@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: Poppins;
  scroll-behavior: smooth;
}

*,
*::after,
* ::before {
  box-sizing: border-box;
}

body {
  background-color: #f3f6fa;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
}

.df {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.weather {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 100px;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #fff;
  border-radius: 10px;
}
.weather__left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 40%;
  padding-top: 40px;
}
.weather__top {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 50px;
}
.weather__search {
  padding: 5px 8px;
  border-radius: 5px;
  border: 1.5px solid #aaa;
}
.weather__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.weather__bottom__date {
  color: #aaa;
  font-size: 16px;
  text-align: center;
}
.weather__bottom__degrees {
  display: flex;
  gap: 15px;
  align-items: center;
}
.weather__bottom__degrees img {
  width: 100px;
  height: 100px;
}
.weather__bottom__degrees__text {
  margin-top: 20px;
  font-size: 48px;
}
.weather__bottom__reference {
  font-size: 32px;
}
.weather__right {
  overflow: auto;
}
.weather__items {
  display: flex;
  gap: 20px;
}
.weather__item {
  width: 150px;
  height: 150px;
  padding: 20px;
  min-width: 150px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
}