.weather {
  margin-top: 100px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #fff;
}
.weather__top {
  display: flex;
  gap: 10px;
}
.weather__search {
  padding: 20px;
}